<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API-EndToEnd-Suite" verbose="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="UserTests">
        <classes>
            <class name="tests.User.CreateUserWithList"></class>
            <class name="tests.User.CreateUser"></class>
            <class name="tests.User.GetUser"></class>
            <class name="tests.User.LoginUser"></class>
            <class name="tests.User.UpdateUser"></class>
            <class name="tests.User.DeleteUser"></class>
        </classes>
    </test>

    <test name="PetTests">
        <classes>
            <class name="tests.Pet.AddPet"></class>
            <class name="tests.Pet.FindPetByID"></class>
            <class name="tests.Pet.FindPetByStatus"></class>
            <class name="tests.Pet.UpdatePet"></class>
            <class name="tests.Pet.UpdateNameStatus"></class>
            <class name="tests.Pet.UpdatePetImage"></class>
            <class name="tests.Pet.DeletePet"></class>
        </classes>
    </test>

    <test name="StoreTests">
        <classes>
            <class name="tests.Store.GetAllPets"></class>
            <class name="tests.Store.SetOrder"></class>
            <class name="tests.Store.GetOrder"></class>
            <class name="tests.Store.DeleteOrder"></class>
        </classes>
    </test>
</suite>
